#larry-bird-content {
    width: 100%;
    height: 100%;
    background-image: url( '../images/larry_bird.jpg' );
    background-size: cover;
}

#larry-input {
    width: 100%;
}

.keys {
    font-weight: bold;
}

.shortcut-table td {
    padding: 0 20px 20px 0;
}
table tr {
    border: 1px solid #444444;
}